@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FEFEFF;
    --foreground: 20 14.3% 4.1%;
    --card: #FEFEFF;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    /* Custom properties */
    --navigation-height: 3.5rem;
    --color-one: #ffbd7a;
    --color-two: #fe8bbb;
    --color-three: #9e7aff;

    --are-color-gray:#1D1C18;
    --are-color-yellow: #E2AC0D;
    --are-color-beige: #E1DBBD;

    /*
  --color-one: #37ecba;
  --color-two: #72afd3;
  --color-three: #ff2e63;
   */
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Light mode scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d4d4d4, #a8a8a8); /* Light gradient thumb */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Adds space around the thumb */
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark grey track */
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4d4d4d, #2b2b2b); /* Dark gradient thumb */
  border-radius: 10px;
  border: 3px solid #1a1a1a; /* Space around the thumb to blend with track */
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #8a8a8a, #6a6a6a); /* Lighter on hover */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5e5e5e, #3c3c3c); /* Slightly lighter on hover in dark mode */
}
